

/* Adjust the space before or behind the tabs group. */
:-moz-any(.titlebar-spacer) {
    /** Without boader which could be showed out of 
    fullscreen.*/
    border: 0 !important;
    /** Clear the width. */
    width: 0 !important;
}

:-moz-any(.titlebar-placeholder, .titlebar-spacer)[type=post-tabs]
{
	width: 8px !important;
}

.tabbrowser-tab[first-visible-tab] {
    /** Keep a space before the tabs group. */
    margin-inline-start: 12px !important;
}
/** !Here It is because of showing shadow conrrectly 
to use margin of .tabbrowser-tab but not width of 
.titlebar-placeholder and .titlebar-spacer.
*/

/* Adjust the style of tab. */
.tabbrowser-tab {
    /* !You couldn't set the max-width of a tab here
    or the tab could not be closed correctly.
    */
    font-size: 12.5px !important;
}


.tabbrowser-tab[fadein]:not([pinned]):not([style*="max-width"]) {
    /* Change the max-width of a tab */
	max-width: 200px !important;
}

.tabbrowser-tab[visuallyselected] {
    /** The shadow of selected tab. */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3) !important;
    
}

/* The content of a tab */

.tab-label-container {
    transform: translateY(1px) !important;
    /* transition */
    transition:
    transform .15s ease-in !important;
    display: block !important;
    min-width: 0 !important;
}

.tabbrowser-tab[visuallyselected] .tab-label-container {
    /* font-size: 13px !important; */
    font-weight: 600 !important;
    transform: scale(1.03) translate(1.6px, 1px)!important;
}

.tabbrowser-tab::before,
.tabbrowser-tab::after,
.tab-line {
	display: none !important;
}

.tabbrowser-tab:not([visuallyselected]) .tab-background {
    background-color: var(--hover-shadow) !important;
    opacity: 0 !important;
   transition: opacity .18s ease-in !important;
}

.tabbrowser-tab:not([visuallyselected]):hover .tab-background {
    opacity: 1 !important;
}

#tabbrowser-tabs[overflow] .tabbrowser-tab[pinned] + .tabbrowser-tab:not([pinned]) .tab-content::before {
    background: 0 !important;
}